{% extends 'base.html' %}

{% block title %}My Incidents - Emergency Response System{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/incident_list.css' %}">

<div class="container">

    <!-- HEADER -->
    <div class="incident-header mb-3">
        <h5>My Incidents</h5>
        <p>Track and manage your emergency reports</p>
    </div>

    {% if incidents %}
        {% for incident in incidents %}
        <div class="incident-card" onclick="location.href='{% url 'incident_detail' incident.id %}'; " style="cursor: pointer;">


            <div class="incident-top">
                <div>
                    <div class="incident-title">
                        {{ incident.title }}
                    </div>
                    <div class="incident-location">
                        {{ incident.location_description|truncatewords:6 }}
                    </div>
                </div>

                <span class="status-badge status-{{ incident.status }}">
                    {{ incident.get_status_display }}
                </span>
            </div>

            <div class="incident-bottom">
                <div class="incident-date">
                    {{ incident.created_at|date:"d M • H:i" }}
                </div>

                <a href="{% url 'incident_detail' incident.id %}" class="incident-action">
                    View →
                </a>
            </div>

        </div>

        {% endfor %}

    {% else %}
        <div class="text-center mt-5">
            <p class="text-muted">No incidents yet</p>
            <a href="{% url 'home' %}#emergency-options" class="btn btn-danger rounded-pill px-4">
                Report Emergency
            </a>
        </div>
    {% endif %}

</div>
</div>
{% endblock %}
