{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/create_responder.css' %}">

<div class="container" style="max-width:500px;">

    <h3>Add Responder</h3>

    <form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="mb-2">
        {{ form.full_name.label_tag }}
        {{ form.full_name }}
        {{ form.full_name.errors }}
    </div>

    <div class="mb-2">
        {{ form.username.label_tag }}   
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div class="mb-2">
        {{ form.department.label_tag }}
        {{ form.department }}
        {{ form.department.errors }}
    </div>

    <div class="mb-2">
        {{ form.phone_number.label_tag }}
        {{ form.phone_number }}
        {{ form.phone_number.errors }}
    </div>

    <div class="mb-2">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>

    <div class="mb-2">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <button class="btn btn-success w-100">
        Create Responder
    </button>
</form>

</div>

{% endblock %}