{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/responder_list.css' %}">

<div class="container">

    <h2>Responders</h2>

    <!-- STATS -->
    <div class="stats">
        <div class="card">
            <h4>Total</h4>
            <h2>{{ stats.total }}</h2>
        </div>
        <div class="card">
            <h4>Available</h4>
            <h2>{{ stats.available }}</h2>
        </div>
        <div class="card">
            <h4>Busy</h4>
            <h2>{{ stats.busy }}</h2>
        </div>
        <div class="card">
            <h4>Offline</h4>
            <h2>{{ stats.offline }}</h2>
        </div>
    </div>

    <!-- SEARCH -->
    <form method="get">
        <input type="text" name="search" placeholder="Search responders..." />
        <button type="submit">Search</button>
    </form>

    <div style="display:flex; justify-content:space-between; align-items:center;">
    <h2>Responders</h2>
    <a href="{% url 'create_responder' %}" class="btn btn-primary">
        + Add Responder
    </a>
</div>

    <!-- TABLE -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for responder in responders %}
            <tr>
                <td>{{ responder.user.get_full_name }}</td>
                <td>{{ responder.department.get_name_display }}</td>
                <td>
                    <span class="status {{ responder.status }}">
                        {{ responder.get_status_display }}
                    </span>
                </td>
                <td>{{ responder.department.location_name }}</td>

                <td class="actions">

                    <!-- STATUS UPDATE -->
                    <form method="post" action="{% url 'update_responder_status' responder.id %}">
                        {% csrf_token %}
                        <button name="status" value="available" class="btn-available">Available</button>
                        <button name="status" value="busy" class="btn-busy">Busy</button>
                        <button name="status" value="offline" class="btn-offline">Offline</button>
                    </form>

                </td>
            </tr>
        {% empty %}
            <tr><td colspan="5">No responders found</td></tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}